[Unit]
Description=Oxide WDNS Server
Documentation=https://github.com/shengyanli1982/oxide-wdns
After=network.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/owdns -c /etc/owdns/config.yaml
LimitNOFILE=1048576
Restart=always
RestartSec=3
Type=simple
DynamicUser=yes

[Install]
WantedBy=multi-user.target